<!--pipe tenbien | kiểu dữ liệu(json)-->
<div class="conatiner">
    <p>{{productForm.value | json }}</p>
    <p>{{newProduct | json}}</p>
    <div class="row">
        <div class="col-12">
            <form #productForm="ngForm" action="" class="form col-6 border p-2"
            (submit) ="onSubmit(productForm.value)"
            >
                <div class="form-group">
                    <label>Name: </label>
                    <input type="text" class="form-control" 
                    name="name"
                    [(ngModel)] = "newProduct.name"
                    [value]="newProduct.name"
                    >
                </div>
                <div class="form-group">
                    <label>Price: </label>
                    <input type="text" class="form-control"
                     name="price"
                     [(ngModel)] = "newProduct.price"
                     [value]="newProduct.price"
                     >
                </div>
                <div class="form-group">
                    <label>Desc: </label>
                    <input type="text" class="form-control" 
                    name="desc"
                    [(ngModel)] = "newProduct.desc"
                    [value]="newProduct.desc"
                    >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success mt-2">Submit</button>
                </div>
            </form>
            <h3 class="font_semibold mt-5">Danh sách sản phẩm</h3>
            <table class="col-5 table m-auto table-hover mt-2">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Desc</th>
                <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody *ngIf="products.length > 0">
                <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.desc}}</td>
                <td>
                    <button class="btn btn-danger me-3">Delete</button>
                    <button class="btn btn-success" (click) = "onEdit(product.id)">Edit</button>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
